+++
title = "CDH Research Software Team"
linkTitle = "Home"

+++

{{< blocks/cover title="CDH Development & Design Team" image_anchor="top" height="min" color="blue" byline="Planning poker cards. Photo by Nick Budak." >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Princeton-CDH">
		Our Projects <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Designing and developing research software at the Center for Digital Humanities at Princeton.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This site provides technical documentation and reports related to the work and processes of the Development and Design Team of the Center for Digital Humanities at Princeton.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-heart" title="Interested in our values?" %}}
Read about our values and how they inform our approach and best practices.

Coming soon!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-road" title="Interested in how we work?" url="docs/" %}}
Read about our [workflows](docs/workflows) and consult our [terms & definitions](docs/terms-definitions).
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chart-bar" title="Interested in regular updates?" url="blog/iteration-reports/" %}}
Read our iteration reports.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="info" >}}
<div class="col">
<h1 class="text-center">Looking for something else?</h1>
<p class="text-center">You'll probably find it on the <a href="https://cdh.princeton.edu/">Center for Digital Humanities at Princeton website</a>.
</div>

{{< /blocks/section >}}


{{< blocks/section >}}

{{% blocks/feature icon="fas fa-cogs" title="Project Management" url="https://cdh.princeton.edu/research/project-management/" %}}

Learn about Project Management at the Center for Digital Humanities at Princeton.
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-map" title="Project Charters" url="https://cdh.princeton.edu/research/project-management/charters/" %}}
Read our published charters and download templates for your own use.
{{% /blocks/feature %}}


{{% blocks/feature icon="far fa-folder-open" title="Project Portfolio" url="https://cdh.princeton.edu/projects/" %}}
Browse projects sponsored by CDH, current and past. Look for the "Built by CDH" tag for projects implemented by this team.

{{% /blocks/feature %}}


{{< /blocks/section >}}


