.td-content table.quarterly-schedule {

	th {
		vertical-align: bottom;
	}
	th.project {
		width: 10em;
	}
	th .iteration {
		writing-mode: vertical-rl;
	}

	tr {
		background-color: transparent !important;

		&.iteration-start {
			border-top: 2px solid darkgray !important;
		}

		&:nth-child(even) {
			td {
				border-top: 2px solid gray(169, 1) !important;
			}
		}
	}

	td {
		height: 50px;
		border-right: 1px solid #dee2e6;
	}


	/* NOTE: some duplication of colors from projects data file */
	.geniza {
		background-color: #6B59C1;
		color: white !important;
		&.partial {
			background-color: rgba(107, 89, 193, 0.5);
			color: black;
		}
	}

	.cdh-web {
		background-color: #00edff;
		&.partial {
			background-color: rgba(0, 237, 255, 0.3);
		}
	}

	.maintenance {
		background-color: #eb9469;
		&.partial {
			background-color: rgba(235, 148, 105, 0.5);
		}
	}

	.ppa {
		background-color: #f05b69;
		color: white;
		&.partial {
			background-color: rgba(240,91,105,0.5);
			color:black;
		}
	}

	.mep {
		background-color: #07ae79;
		&.partial {
			background-color: rgba(7, 174, 121, 0.5);
		}
	}

	.startwords {
		background-color: #CE2949;
		color: white !important; /* override docsy striped-table color */
		&.partial {
			background-color: rgba(206, 41, 73, 0.5);
			color: black;
		}
	}

    .out {
    	background-color: #cdcdcd;
		text-align: center;
    }

	.derrida {
		background-color: #175498;
		color: white !important;
		&.partial {
			background-color: rgba(23, 84, 152,0.4);
			color:black;
		}
	}

	.lenape {
		background-color: #088124;
		color: white;
		&.partial {
			background-color: rgba(8, 129, 36, 0.4);

		}
	}

	.risk {
		background-color: #fcd030;
		&.partial {
			background-color: rgba(252, 208, 48, 0.5);
		}
	}

	.geotaste {
		background-color:rgba(64, 176, 166, 0.7);
		&.partial {
			background-color: rgba(64, 176, 166, 0.4);
		}
	}

}