.td-content table.quarterly-schedule {
	max-width: none;  /* don't limit to 80% width */

	th {
		vertical-align: bottom;
	}
	th.project {
		width: 10em;
	}
	th .iteration {
		writing-mode: vertical-rl;
	}

	tr {
		background-color: transparent !important;

		&.iteration-start {
			border-top: 2px solid darkgray !important;
		}

		&:nth-child(even) {
			td {
				border-top: 2px solid gray(169, 1) !important;
			}
		}
	}

	td {
		height: 50px;
		border-right: 1px solid #dee2e6;
	}
}

.td-content table.quarterly-schedule {

	/* add a glow to subtly emphasize projects with 3+ statuses */
	td.extra {
		box-shadow: 0 0 12px var(--project-color);
	}

	/* NOTE: some duplication of colors from projects data file */
	.geniza {
		--project-color: #6B59C1;
		background-color: var(--project-color);
		color: white !important;
		&.partial {
			background-color: rgba(107, 89, 193, 0.5);
			color: black;
		}
	}

	.cdh-web {
		--project-color: #00edff;
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(0, 237, 255, 0.3);
		}
	}

	.maintenance {
		--project-color: #eb9469;
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(235, 148, 105, 0.5);
		}
	}

	.ppa {
		--project-color: #f05b69;
		background-color: var(--project-color);
		color: white;
		&.partial {
			background-color: rgba(240,91,105,0.5);
			color:black;
		}
	}

	.mep {
		--project-color: #07ae79;
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(7, 174, 121, 0.5);
		}
	}

	.startwords {
		--project-color: #CE2949;
		background-color: var(--project-color);
		color: white !important; /* override docsy striped-table color */
		&.partial {
			background-color: rgba(206, 41, 73, 0.5);
			color: black;
		}
	}

    .out {
    	background-color: #cdcdcd;
		text-align: center;
    }

	.derrida {
		--project-color: #175498;
		background-color: var(--project-color);
		color: white !important;
		&.partial {
			background-color: rgba(23, 84, 152,0.4);
			color:black;
		}
	}

	.lenape {
		--project-color: #61514b;
		background-color: var(--project-color);
			color: white;
		&.partial {
			background-color: rgba(97,81,75,0.4);

		}
	}

	.risk {
		--project-color: #fcd030;
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(252, 208, 48, 0.5);
		}
	}

	.geotaste {
		--project-color: rgba(64, 176, 166, 0.7);
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(64, 176, 166, 0.4);
		}
	}

	.kreike {
		--project-color: #4169E1;
		background-color: var(--project-color);
		&.partial {
			background-color: rgba(65, 105, 225, 0.5);
		}
	}

}

/* styles for v2 quarterly schedule */
.td-content table.quarterly-schedule.qsched-v2 {

   border-collapse: separate;
   border-spacing: 3px 0;

	th.project {
		width: auto;

		span {
			display: inline-block;
			transform: rotate(-45deg);
			transform-origin: center left;
		}
	}

}

.icon-legend {
	h2 {
		font-size: 110%;
		text-decoration: underline;
	}
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
  	display: inline-block;
  	padding-right: 0.5em;
  }
}

