{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="td-byline mb-4">
        {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
        <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
    </div>

{{/* Get iteration summary from data file */}}
{{ $iterations := first 1 (where $.Site.Data.iteration_summary "from" .Params.iteration_start )}}
{{ $iteration := (index $iterations 0) }}

{{ $scratch := newScratch }}
{{/* Determine current iteration index in the data file */}}
{{ range $index, $element :=  $.Site.Data.iteration_summary }}
    {{ if eq $element $iteration }}
        {{ $scratch.Set "iteration_index" $index }}
    {{ end }}
{{ end }}

<p>Report on iteration {{ dateFormat "Jan 2, 2006" $iteration.from }} — {{ dateFormat "Jan 2, 2006" $iteration.to }}</p>
<hr/>

{{/* display any content from the file (overview of the iteration etc.) */}}
   {{ .Content }}

<hr/>

<h2>Releases</h2>
<ul>
{{ $iteration_issues := where (where $.Site.Data.issues "closed" ">=" $iteration.from) "closed" "<=" $iteration.to }}

{{ range $repo := $.Site.Data.releases }}
    {{ range $tagname, $tagdate :=  $repo.tags }}
        {{ if and (ge $tagdate $iteration.from ) (le $tagdate $iteration.to ) }}
        <li>{{ $repo.repo }} v{{ $tagname }} — {{ dateFormat "Monday Jan 2, 2006" $tagdate }}
        </li>
        {{ end }}
    {{ end}}
{{ end }}
</ul>

<h2>Velocity</h2>
<h3>Development</h3>
<p>{{ partial "issues_points.html" (dict "points" $iteration.dev.points "issues" $iteration.dev.issues ) }}. Rolling velocity: <b>{{ $iteration.dev.velocity }}</b></p>

<canvas id="dev-velocity"></canvas>

<h3>Design</h3>
<p>{{ partial "issues_points.html" (dict "points" $iteration.design.points "issues" $iteration.design.issues ) }}.
Rolling velocity: <b>{{ $iteration.design.velocity }}</b></p>

<canvas id="design-velocity"></canvas>

<h3>Active projects</h3>

<ul>
    {{ range $project, $issues := $iteration.project_issues }}
        {{ $points := index $iteration.project_points $project }}
    <li>{{ $project }} ({{ partial "issues_points.html" (dict "points" $points "issues" $issues ) }})
    {{ end }}
</ul>

{{/* get the range of iterations show relative to the current iteration */}}
{{ $range_start :=  sub ($scratch.Get "iteration_index") 5 }}
{{ $show_iterations := first 6 (after $range_start $.Site.Data.iteration_summary) }}

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    drawVelocityChart({
        id: 'dev-velocity',
        labels: [{{ range $show_iterations }} "{{ .from }}", {{ end }}],
        points: [{{ range $show_iterations }} {{ .dev.points}}, {{ end }}],
        issues: [{{ range $show_iterations }} {{ .dev.issues }}, {{ end }}],
        velocity: [{{ range $show_iterations }} {{ .dev.velocity }}, {{ end }}]
    });

    drawVelocityChart({
        id: 'design-velocity',
        labels: [{{ range $show_iterations }} "{{ .from }}", {{ end }}],
        points: [{{ range $show_iterations }} {{ .design.points}}, {{ end }}],
        issues: [{{ range $show_iterations }} {{ .design.issues }}, {{ end }}],
        velocity: [{{ range $show_iterations }} {{ .design.velocity }}, {{ end }}]
    });

 });
</script>

<hr/>

{{/* Get issues for this iteration  */}}
{{ $iteration_issues := where (where $.Site.Data.issues "closed" ">=" $iteration.from) "closed" "<=" $iteration.to }}
<section class="issue-details">
<h3>Closed issues by project</h3>
<ul>
    {{ range $project, $issues := $iteration.project_issues }}
    <li>{{ $project }}
        <ul>
            {{ range where $iteration_issues "project" $project }}
                <li><a href="{{ replace .url "api.github.com/repos/" "github.com/" }}">{{ .issue }}</a>
                    {{ if .estimate }}<span class="points">({{ .estimate }})</span>{{ end }}
                    {{ if .labels }}<span class="labels">{{ delimit .labels ", " }}</span>{{ end }}
                </li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
</section>

</div>

{{ end }}