{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="td-byline mb-4">
        {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
        <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
    </div>

{{/* Get iteration summary from data file */}}
{{ $iterations := first 1 (where $.Site.Data.iteration_summary "from" .Params.iteration_start )}}
{{ $iteration := (index $iterations 0) }}

{{ $scratch := newScratch }}
{{/* Determine current iteration index in the data file */}}
{{ range $index, $element :=  $.Site.Data.iteration_summary }}
    {{ if eq $element $iteration }}
        {{ $scratch.Set "iteration_index" $index }}
    {{ end }}
{{ end }}
{{/* Determine end date for displaying issues from this iteration; to match iteration summary script, we use the start of the next iteration when available */}}
{{ $next_iteration := index $.Site.Data.iteration_summary (add ($scratch.Get "iteration_index") 1) }}
{{/* use day after current iteration end as fallback date if no next iteration is set */}}
{{ with time $iteration.to  }} {{/* parse date string as time so we can add 1 day */}}
    {{ $scratch.Set "iteration_end" (.AddDate 0 0 1) }}
{{ end }}
{{ $next_start := default ($scratch.Get "iteration_end") $next_iteration.from }}
<p>Report on iteration {{ dateFormat "Jan 2, 2006" $iteration.from }} — {{ dateFormat "Jan 2, 2006" $iteration.to }}
<small>(includes all issues completed before {{ dateFormat "Jan 2, 2006" $next_start}}).</small></p>
{{/* display any content from the file (overview of the iteration etc.) */}}
{{ .Content }}

<hr/>

<h2>Active projects</h2>

<ul>
    {{ range $project, $issues := $iteration.project_issues }}
        {{ $points := index $iteration.project_points $project }}
    <li><a href="{{ $.Site.Params.github_org_url }}{{ $project }}">{{ $project }}</a> ({{ partial "issues_points.html" (dict "points" $points "issues" $issues ) }})
    {{ end }}
</ul>

<h2>Releases</h2>
<ul>
{{ $iteration_issues := where (where $.Site.Data.issues "closed" ">=" $next_start) "closed" "<=" $iteration.to }}

{{ range $repo := $.Site.Data.releases }}
    {{ range $tagname, $tagdate :=  $repo.tags }}
        {{ if and (ge $tagdate $iteration.from ) (le $tagdate $next_start ) }}
        <li><a href="{{ $.Site.Params.github_org_url }}{{ $repo.repo }}/releases/tag/{{ $tagname }}">{{ $repo.repo }} {{ $tagname }}</a> — {{ dateFormat "Monday Jan 2, 2006" $tagdate }}
        </li>
        {{ end }}
    {{ end}}
{{ end }}
</ul>

<h2>Velocity</h2>
<h3>Development</h3>
<p>{{ partial "issues_points.html" (dict "points" $iteration.dev.points "issues" $iteration.dev.issues ) }}. Rolling velocity: <b>{{ $iteration.dev.velocity }}</b></p>

<canvas id="dev-velocity"></canvas>

{{ if not .Params.hideDesignVelocity }}
<h3>Design</h3>
<p>{{ partial "issues_points.html" (dict "points" $iteration.design.points "issues" $iteration.design.issues ) }}.
Rolling velocity: <b>{{ $iteration.design.velocity }}</b></p>

<canvas id="design-velocity"></canvas>
{{ end }}

{{/* get the range of iterations show relative to the current iteration */}}
{{ $range_start :=  sub ($scratch.Get "iteration_index") 5 }}
{{ $show_iterations := first 6 (after $range_start $.Site.Data.iteration_summary) }}

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    drawVelocityChart({
        id: 'dev-velocity',
        labels: [{{ range $show_iterations }} "{{ .from }}", {{ end }}],
        points: [{{ range $show_iterations }} {{ .dev.points}}, {{ end }}],
        issues: [{{ range $show_iterations }} {{ .dev.issues }}, {{ end }}],
        velocity: [{{ range $show_iterations }} {{ .dev.velocity }}, {{ end }}]
    });
{{ if not .Params.hideDesignVelocity }}
    drawVelocityChart({
        id: 'design-velocity',
        labels: [{{ range $show_iterations }} "{{ .from }}", {{ end }}],
        points: [{{ range $show_iterations }} {{ .design.points}}, {{ end }}],
        issues: [{{ range $show_iterations }} {{ .design.issues }}, {{ end }}],
        velocity: [{{ range $show_iterations }} {{ .design.velocity }}, {{ end }}]
    });
{{ end }}

 });
</script>



<hr/>
{{/* TODO: move to a config or data file */}}
{{ $design_tags := slice "design" "🗺️ design" "Design" }}

{{/* Get issues for this iteration  */}}
{{ $iteration_issues := where (where $.Site.Data.issues "closed" ">=" $iteration.from) "closed" "<" $next_start }}
<section class="issue-details">
<h3>Closed issues by project</h3>

<ul>
    {{ range $project, $issues := $iteration.project_issues }}

    {{ $project_issues := where $iteration_issues "project" $project  }}
    {{ $design_issues := where $project_issues "labels" "intersect" $design_tags }}
    {{ $dev_issues := slice }}
    {{ $dev_total := 0 }}
    {{ $design_total := 0 }}
    {{/* loop through project issues to identify non-design issues and tally estimates */}}
    {{ range $issue := $project_issues }}
        {{ if not (intersect $issue.labels $design_tags) }}
            {{ $dev_issues = append $dev_issues (slice $issue) }}
            {{ if ne $issue.estimate "" }}
            {{ $dev_total = add  $dev_total $issue.estimate }}
            {{ end }}
        {{ else }}
            {{ if ne $issue.estimate "" }}
            {{ $design_total = add  $design_total $issue.estimate }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{/* NOTE: should be possible to use symdiff or complement to get the opposite of intersection, but hugo complains the types are not comparable  }}
    {{/* $project_dev_issues := $project_issues | symdiff $project_design_issues  */}}
    <li>{{ $project }} ({{ add $dev_total $design_total }} points, {{ $project_issues | len }} issues)
    <ul>
    {{ with $design_issues }}
        <li>design <span class="points">({{ $design_total }} points, {{ . | len }} issues)</span>
        <ul>
        {{ range . }}
                {{ partial "issue_single.html" . }}
        {{ end }}
        </ul>
    </li>
    {{ end }}
    {{ with $dev_issues }}
        <li>development <span class="points">({{ $dev_total }} points, {{ . | len }} issues)</span>
        <ul>
        {{ range $dev_issues }}
                {{ partial "issue_single.html" . }}
        {{ end }}
        </ul>
        </li>
    {{ end }}
    </ul>
    {{ end }}
</ul>
</section>


<hr/>

{{/* Get projects & issues for the next iteration, based on iteration schedule data file; only include for iteration reporting for most recent iteration */}}
{{ $today := now.Format "2006-01-02" }}
{{ if and (ge $today $next_iteration.from) (le $today $next_iteration.to) }}
<section class="upcoming-issues">
<h3>Upcoming work</h3>

<p>Next iteration is {{ dateFormat "Jan 2, 2006" $next_iteration.from }} - {{ dateFormat "Jan 2, 2006" $next_iteration.to }}.
    {{ with $next_iteration.projects }} Scheduled projects: {{ delimit . ", "}}.{{ end }}
</p>

{{ $upcoming_issues := where $.Site.Data.issues "closed" "eq" nil }}
<ul>
    {{ range $project, $status := $next_iteration.work }}
    {{/* display project short name + status icons for next iteration */}}
    <li>{{ $project }}
        {{ range $s := $status  }}
        {{/* convert each status to an emoji to display type of work */}}
        {{ $icon := index $.Site.Data.projects.status_icon $s }}
            {{ transform.Emojify $icon }}
        {{ end }}

    {{/* show upcoming github issues if appropriate for status */}}
    {{ if intersect $status (slice "code" "data" "maintenance" "release") }}
    {{/* display name != github repo; get from project data file; use project name as fallback */}}
    {{ $reponame := (index $.Site.Data.projects $project).repo | default $project }}
    {{ $upcoming_project_issues := where $upcoming_issues "project" $reponame }}
    {{/* collect pipeline states present for this project */}}
    {{ $data := newScratch }}
    {{ $data.Set "status" slice }}
    {{ $statuses := slice }}
        {{ range $issue := $upcoming_project_issues }}
        {{ $data.Set "status" (append ($data.Get "status") $issue.pipeline) }}
        {{ end }}
    {{/* get unique list of statuses, but omit Icebox  */}}
    {{ $data.Set "status" (complement (slice "Icebox") (uniq ($data.Get "status"))) }}
    {{ if $data.Get "status" }}
    <ul>
        {{ range $data.Get "status" }}
        {{ $status_issues := where $upcoming_project_issues "pipeline" "intersect" (slice .) }}
        <li>{{ . }} <span class="points">({{ $status_issues | len }} {{ i18n "issues" ( $status_issues | len) }})</span>
        <ul>
        {{ range $status_issues }}
                {{/* range $upcoming_project_issues */}}
            {{ partial "issue_single.html" . }}
        {{ end }}
        </ul>
        </li>
        {{ else }}
        <li>No issues found</li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }} {{/* end list of issues by status */}}
    {{ end }} {{/* end iterating over projects */}}
    </li>
</ul>
</section>

{{ end }}

{{/* Get issues that need estimation based on label  */}}
{{ $estimate_issues := where $.Site.Data.issues "labels" "intersect" (slice "needs estimation") }}
{{ if $estimate_issues }}
<section class="needs-estimation">
<h3>Issues that need estimation</h3>
<ul>
    {{ range $estimate_issues }}
        {{ partial "issue_single.html" . }}
    {{ end }}
</ul>
</section>
{{ end }}

</div>

{{ end }}