{{/* custom layout to display planned iteration schedule for a specified datee range.

Page metadata should use the following structure to configure dates:

layout: quarterlyschedule
date_range:
    start: "2020-06-01"
    end: "2020-08-01"
*/}}
{{ define "main" }}
<div class="td-content">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    <div class="td-byline mb-4">
        {{ with .Params.author }}{{ T "post_byline_by" }} <b>{{ . | markdownify }}</b> |{{ end}}
        <time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
    </div>

{{ .Content }}
{{/* Get iteration dates and planned projects from data file */}}
{{ $iterations := where (where $.Site.Data.iterations "from" ">=" .Params.date_range.start ) "to" "<=" .Params.date_range.end }}

{{/* generate list of unique projects for this iteration range */}}
{{ $scratch := newScratch }}
{{/* gather unique list of all projects for this date range; project + status under work */}}
{{ $projects := slice }}
{{ range $iterations }}
    {{ range $p, $status := .work }}
        {{ $projects = uniq ($projects | append $p) }}
    {{ end }}
{{ end }}

<div class="icon-legend">
<h2>icon legend</h2>
<ul>
{{ range $status, $icon := $.Site.Data.projects.status_icon }}
    <li>{{ transform.Emojify $icon }} {{ $status }}</li>
{{ end }}
</ul>
</div>

<table class="quarterly-schedule qsched-v2">
    <tr>
        <th>week</th>
        <th><div class="iteration">iteration</div></th>
        {{ range $projects }}
        <th class="project">{{ . }}</th>
        {{ end }}
    </tr>

{{ range $iteration_index, $iteration := $iterations }}
    <tr class="iteration-start"> {{/* first week of iteration */}}
        {{/* determine number of weeks in iteration to set row span correctly */}}
        {{ $next_iteration := index $iterations (add $iteration_index 1) }}
        {{ with time $iteration.from }}
            {{ $scratch.Set "second_week" (dateFormat "Jan 2" (.AddDate 0 0 7)) }}
            {{ $scratch.Set "third_week" (dateFormat "Jan 2" (.AddDate 0 0 14)) }}
        {{ end }}

        {{/* calculate number of weeks in the iteration */}}
        {{ if $next_iteration }}
            {{/* convert start dates to time, substract and convert to days, then weeks */}}
            {{ $next_start := time $next_iteration.from }}
            {{ $current_start := time $iteration.from }}
            {{ $iteration_days := div (sub $next_start.Unix $current_start.Unix)  86400 }}
            {{ $scratch.Set  "iteration_weeks" (div $iteration_days 7) }}
        {{ else if $iteration.to }}
            {{ $current_start := time $iteration.from }}
            {{ $current_end := time $iteration.to }}
            {{ $iteration_days := div (sub $current_end.Unix $current_start.Unix)  86400 }}
            {{ $scratch.Set  "iteration_weeks" (div $iteration_days 7) }}
        {{ else }}
            {{/* if next iteration is not defined, default to 2 weeks */}}
            {{ $scratch.Set  "iteration_weeks" 2 }}
        {{ end }}

        <td> {{/* first week of iteration */}}
            {{ dateFormat "Jan 2" $iteration.from }}
        </td>

        {{/* rowspan to indicate iteration length */}}
        <td rowspan="{{ $scratch.Get "iteration_weeks" }}"></td>

        {{ if $iteration.skip }} {{/* display scheduled non-iteration weeks */}}
        <td colspan="{{ len $projects }}" class="out">{{ $iteration.comment }}</td>
        {{ else }}

            {{ range $p := $projects }}
            {{/* for each projects, output a table cell; set classes based on status */}}

            <td class="{{ if index $iteration.work $p }}{{ $p }}{{ end }}">
            {{ range $status := index $iteration.work $p }}
            {{ $icon := index $.Site.Data.projects.status_icon $status }}
                {{ transform.Emojify $icon }}
            {{ end }}

                {{/* display first note for this project if any
                {{ if $iteration.notes }}
                    {{ $project_notes := index $iteration.notes .}}
                    {{ if $project_notes }}
                        {{ index $project_notes 0 }}
                    {{ end }}
                {{ end }}*/}}
            </td>
            {{ end }}

        {{ end }}
    </tr>
    {{/* second week of iteration */}}
    {{ if (ge ($scratch.Get "iteration_weeks") 2) }}
    <tr>
        <td>{{ with time  $iteration.from  }} {{/* parse date string as time so we can add 1 week */}}
            {{ dateFormat "Jan 2" (.AddDate 0 0 7) }} {{ end }}
        </td> {{/* date */}}
        {{ range $projects }}
        <td class="{{ if in $iteration.projects . }}{{ . }}{{ end }}{{ if (and (isset $iteration "partial") (in $iteration.partial .)) }} partial{{ end }}">
            {{/* display second note for this project if any
            {{ if $iteration.notes }}
                {{ $project_notes := index $iteration.notes .}}
                {{ if $project_notes }}
                    {{ index $project_notes 1 }}
                {{ end }}
            {{ end }}*/}}
        </td>
        {{ end }}
    </tr>
    {{ end }}

    {{/* optional third week of iteration (occasional occurrence) */}}
    {{ if (ge ($scratch.Get "iteration_weeks") 3) }}
    <tr>
        <td>{{ with time  $iteration.from  }}
            {{ dateFormat "Jan 2" (.AddDate 0 0 14) }} {{ end }}
        </td>
    {{ range $projects }}
        <td class="{{ if in $iteration.projects . }}{{ . }}{{ end }}{{ if (and (isset $iteration "partial") (in $iteration.partial .)) }} partial{{ end }}">
            {{/* display third note for this project if any */}}
            {{ if $iteration.notes }}
                {{ $project_notes := index $iteration.notes .}}
                {{ if $project_notes }}
                    {{ index $project_notes 2 }}
                {{ end }}
            {{ end }}
        </td>
    {{ end }} {{/* end projects loop */}}
    </tr>
    {{ end }} {{/* end third week iteration */}}

{{ end }}
</table>

{{ end }}